{% extends 'buyer/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img style="width: 370px;height: 370px;" src="/static/{{ goods_data.goods_image }}"></div>
        <form action="/Buyer/place_order/" method="post">
                {% csrf_token %}
		<div class="goods_detail_list fr">
			<h3>{{ goods_data.goods_name }}</h3>
			<p>{{ goods_data.goods_description|safe }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="price">{{ goods_data.goods_price }}</em></span>
				<span class="show_unit">生成日期：{{ goods_data.goods_date }}</span>
			</div>

			<div class="goods_num clearfix">
                <div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
                    <input type="hidden" name="good_id" id="good_id" value="{{ goods_data.id }}">
					<input type="text" name="count" id="num" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr" id="total1" onclick="f('add')">+</a>
					<a href="javascript:;" class="minus fr" id="minus" onclick="f('minus')">-</a>
				</div>
			</div>
			<div class="total">总价：<em id="all">{{ goods_data.goods_price }}</em><em >元</em></div>
			<div class="operate_btn">
				<input type="submit" href="/Buyer/place_order/" class="buy_btn" value="立即购买">
				<a href="#" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>

	</div>
        </form>
    <div class="main_wrap clearfix">


		<div class="r_wrap fr clearfix" style="width: 100%;height: 300px">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content" >
                <br>
				<dl>
					<dt>商品详情：</dt>
					<dd style="font-size: large;color: red;font-family: 楷体">{{ goods_data.goods_description|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>

{% endblock %}
{% block script %}
    <script src="/static/buyer/js/jquery-1.12.4.min.js"></script>
    <script>
    function f(result) {
        var value1 = $('#num').val();
        if (result == 'add'){
            $('#num').val(++value1)
        } else {
            if (value1 <= 1){
                $('#num').val(1)
            }else {
                $('#num').val(--value1)
            }
        }
        var price = $('#price').text();
        var all =price * value1;
        $('#all').text(all)
    }


    </script>
    <script>
    $('#add_cart').click(
        function () {
            var count = $('#num').val();
            var goods_id = $('#good_id').val();
            var sendDate = {
                'count':count,
                'goods_id':goods_id,
                'csrfmiddlewaretoken':'{{ csrf_token }}'
            };
            console.log(sendDate);
            var url = '/Buyer/add_cart/';
            $.ajax(
                {

                    url:url,
                    type:'post',
                    data:sendDate,
                    success:function (data) {
                        console.log(data)
                    },
                    error:function (error) {
                        console.log(error)
                    }
                }
            )
        }
    )
    </script>
{% endblock %}